<a href="https://colab.research.google.com/github/nikhilgunti/Skin-Cancer-Detection/blob/master/Deep_learning_CNN_Skin_cancer_images_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from swat import CAS
import swat
from swat.cas.table import merge
import os
import dlpy
import numpy
import matplotlib.image as mping
import matplotlib.pyplot as plt
from PIL import Image
import numpy as np
import pandas as pd

from dlpy.images import ImageTable
from dlpy.applications import UNet
from dlpy.model import Optimizer, Model, DataSpec, MomentumSolver, AdamSolver, StepLR
from dlpy.layers import *
from dlpy.utils import display_segmentation_images, create_segmentation_table, display_segmentation_results
from dlpy.sequential import Sequential

In [0]:
cashost='rdcgrd001'
casport=29564
casauth='C:/Users/nijakh/_authinfo'

# Start CAS session
conn = CAS(cashost, casport, authinfo=casauth, caslib="casuser")
conn.loadactionset('image')
conn.loadactionset('deeplearn')

NOTE: Added action set 'image'.
NOTE: Added action set 'deeplearn'.

[actionset]

 'deeplearn'

+ Elapsed: 0.0785s, user: 0.302s, sys: 0.639s, mem: 30.9mb

In [0]:
# load_data
image_data=conn.loadTable( caslib="casuser",path="hmnist_28_28_L.csv", importoptions={"filetype":"csv"},casout={"name":"hmnist"})

NOTE: Cloud Analytic Services made the file hmnist_28_28_L.csv available as table HMNIST in caslib CASUSERHDFS(nijakh).

In [0]:
#Split data into train and test
conn.loadactionset('sampling')
conn.sampling.stratified(table="hmnist",target='label',samppct=20,samppct2=10,output={"casout":{"name":"hmnist_sample","replace":True},"copyvars":"ALL"})

NOTE: Added action set 'sampling'.
NOTE: The PARTIND option is set to be TRUE for segment stratified sampling.
NOTE: Stratified sampling is in effect.
NOTE: Using SEED=595555116 for sampling.

[OutputCasTables]

                 casLib           Name Label   Rows  Columns  \
 0  CASUSERHDFS(nijakh)  hmnist_sample        10015      786

                                             casTable
 0  CASTable('hmnist_sample', caslib='CASUSERHDFS(...

[PartIndMap]

 Partition Indicator Map

   PartIndName TargetName
 0  _PartInd1_      label

[STRAFreq]

 Frequencies

   TargetName TargetLevel   NObs  NSamp1  NSamp2
 0      label              10015    2003    1002

+ Elapsed: 4.04s, user: 15s, sys: 18.6s, mem: 1.15e+04mb

In [0]:
conn.loadactionset('table')
conn.table.save(caslib="casuser",name="hmnist_train",replace=True,table={"name":'hmnist_sample',"where":"_partind1_=0" })
conn.table.save(caslib="casuser",name="hmnist_valid",replace=True,table={"name":'hmnist_sample',"where":"_partind1_=1" })
conn.table.save(caslib="casuser",name="hmnist_test",replace=True,table={"name":'hmnist_sample',"where":"_partind1_=2" })

NOTE: Added action set 'table'.
NOTE: Cloud Analytic Services saved the file hmnist_train.sashdat in caslib CASUSER(nijakh).
NOTE: Cloud Analytic Services saved the file hmnist_valid.sashdat in caslib CASUSER(nijakh).
NOTE: Cloud Analytic Services saved the file hmnist_test.sashdat in caslib CASUSER(nijakh).

[caslib]

 'CASUSER(nijakh)'

[name]

 'hmnist_test.sashdat'

+ Elapsed: 0.306s, user: 1.59s, sys: 1.13s, mem: 2.78e+03mb

In [0]:
# load_data
image_data=conn.loadTable( caslib="casuser",path="hmnist_train.sashdat", importoptions={"filetype":"hdat"},casout={"name":"train","replace":True})
image_data=conn.loadTable( caslib="casuser",path="hmnist_valid.sashdat", importoptions={"filetype":"hdat"},casout={"name":"valid","replace":True})
image_data=conn.loadTable( caslib="casuser",path="hmnist_test.sashdat", importoptions={"filetype":"hdat"},casout={"name":"test","replace":True})

NOTE: Cloud Analytic Services made the file hmnist_train.sashdat available as table TRAIN in caslib CASUSERHDFS(nijakh).
NOTE: Cloud Analytic Services made the file hmnist_valid.sashdat available as table VALID in caslib CASUSERHDFS(nijakh).
NOTE: Cloud Analytic Services made the file hmnist_test.sashdat available as table TEST in caslib CASUSERHDFS(nijakh).

In [0]:
conn.table.tableInfo(name="test")      
#conn.table.tableDetails(name="test")

,Name,Rows,Columns,IndexedColumns,Encoding,CreateTimeFormatted,ModTimeFormatted,AccessTimeFormatted,JavaCharSet,CreateTime,...,Repeated,View,MultiPart,SourceName,SourceCaslib,Compressed,Creator,Modifier,SourceModTimeFormatted,SourceModTime
0,TEST,1002,786,0,utf-8,2020-03-23T11:15:48-04:00,2020-03-23T11:15:48-04:00,2020-03-23T11:15:48-04:00,UTF8,1.900596e+09,...,0,0,0,hmnist_test.sashdat,CASUSER(nijakh),0,nijakh,,2020-03-23T11:15:46-04:00,1.900596e+09

In [0]:
#define empty cnn model
conn.deepLearn.buildModel(
modelTable={"name":"hmnistcnn", "replace":True},
type="CNN")

conn.deepLearn.modelInfo(                        
modelTable={"name":"hmnistcnn"}
)

[ModelInfo]

                               Descr                         Value
 0                        Model Name                     hmnistcnn
 1                        Model Type  Convolutional Neural Network
 2                  Number of Layers                             0
 3            Number of Input Layers                             0
 4           Number of Output Layers                             0
 5    Number of Convolutional Layers                             0
 6          Number of Pooling Layers                             0
 7  Number of Fully Connected Layers                             0

+ Elapsed: 0.334s, user: 1.15s, sys: 1.83s, mem: 339mb

In [0]:
#Add layers to empty cnn model

#Add input layer
conn.deepLearn.addLayer(          
layer={"type":"INPUT","height":28,
"width":28},    
modelTable={"name":"hmnistcnn"} ,   
name="data")           

#Conv layer with 32 filters of 3 by 3
conn.deepLearn.addLayer(
layer={"type":"convo",
#"act":"identity",
"nfilters":32,
"height":5,
"width":5,
"dropout":.3    
},      
modelTable={"name":"hmnistcnn"} ,  
name="conv1",
srcLayers={"data"})   

#batch normalization layer 
conn.deepLearn.addLayer(
layer={"type":"batchnorm"} ,     
modelTable={"name":"hmnistcnn"} ,  
name="batch1",
srcLayers={"conv1"})  

#pooling layer 
conn.deepLearn.addLayer(
layer={"type":"pool","dropout":.3,"height":2, "width":2}  ,    
modelTable={"name":"hmnistcnn"}   ,
name="pool1",
srcLayers={"batch1"})

#Conv layer with 64 filters of 3 by 3
conn.deepLearn.addLayer(
layer={"type":"convo",
#"act":"identity",
"nfilters":64,
"height":3,
"width":3,
"dropout":.3,    
}      ,
modelTable={"name":"hmnistcnn"},   
name="conv2",
srcLayers={"pool1"})   

#batch normalization layer 
conn.deepLearn.addLayer(
layer={"type":"batchnorm"}  ,    
modelTable={"name":"hmnistcnn"} ,  
name="batch2",
srcLayers={"conv2"})  

#pooling layer 
conn.deepLearn.addLayer(
layer={"type":"pool","dropout":.3,"height":2, "width":2}   ,   
modelTable={"name":"hmnistcnn"}  , 
name="pool2",
srcLayers={"batch2"})

#output layer
conn.deepLearn.addLayer(
layer={"type":"output",
"act":'softmax',
"fullConnect":True
},    
modelTable={"name":"hmnistcnn"}  ,   
name="outlayer",
srcLayers={"pool2"})

,casLib,Name,Rows,Columns,casTable
0,CASUSERHDFS(nijakh),hmnistcnn,98,5,"CASTable('hmnistcnn', caslib='CASUSERHDFS(nija..."

In [0]:
conn.deepLearn.modelInfo(                        
modelTable={"name":"hmnistcnn"}
)

[ModelInfo]

                                   Descr                         Value
 0                            Model Name                     hmnistcnn
 1                            Model Type  Convolutional Neural Network
 2                      Number of Layers                             8
 3                Number of Input Layers                             1
 4               Number of Output Layers                             1
 5        Number of Convolutional Layers                             2
 6              Number of Pooling Layers                             2
 7      Number of Fully Connected Layers                             0
 8  Number of Batch Normalization Layers                             2

+ Elapsed: 0.697s, user: 6.98s, sys: 13.1s, mem: 760mb

In [0]:
#create input variable list 
vars=[]
for x in range(784):
    tmpx=str(x).zfill(4)
    vname="pixel{0}".format(tmpx)
    vars.append(vname)
    
#vars

In [0]:
#Train the model
conn.deepLearn.dlTrain(
optimizer={"algorithm":{"method":"ADAM"}, "minibatchsize":64, "maxepochs":50},
inputs=vars,
modelTable={"name":"hmnistcnn"},
modelWeights={"name":"hmnistTrainedWeights",
"replace":True},
table={"name":"train"},
nominals=[{"name":"label"}],
target="label",
validtable={"name":"valid"})

WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.

[ModelInfo]

                                         Descr                         Value
 0                                  Model Name                     hmnistcnn
 1                                  Model Type  Convolutional Neural Network
 2                            Number of Layers                             8
 3                      Number of Input Layers                             1
 4                     Number of Output Layers                             1
 5              Number of Convolutional Layers                             2
 6                    Number of Pooling Layers                             2
 7            Number of Fully Connected Layers                             0
 8        Number of Batch Normalization Layers                             2
 9                 Number of Weight Parameters                         41184
 10                  Number of Bias Parameters                           295
 11           Total Number of Model Parameters                         41479
 12  Approximate Memory Cost for Training (MB)                          1513

[OptIterHistory]

     Epoch  LearningRate      Loss  FitError  ValidLoss  ValidError
 0     0.0         0.001  2.405616  0.862625   1.389770    0.335996
 1     1.0         0.001  1.761656  0.364337   1.550008    0.885172
 2     2.0         0.001  2.717235  0.820685   1.707368    0.959061
 3     3.0         0.001  3.814427  0.952068   1.650356    0.937094
 4     4.0         0.001  3.251680  0.936234   1.505120    0.796805
 5     5.0         0.001  2.337100  0.812268   1.360293    0.377434
 6     6.0         0.001  1.763355  0.552354   1.292215    0.347978
 7     7.0         0.001  1.582255  0.437375   1.303949    0.356465
 8     8.0         0.001  1.636483  0.453495   1.360558    0.416375
 9     9.0         0.001  1.782855  0.568759   1.428447    0.593110
 10   10.0         0.001  2.007131  0.695863   1.464291    0.696955
 11   11.0         0.001  2.097074  0.745221   1.453878    0.651523
 12   12.0         0.001  2.003314  0.724251   1.398294    0.504743
 13   13.0         0.001  1.802906  0.624108   1.334908    0.410384
 14   14.0         0.001  1.605437  0.525392   1.293678    0.382426
 15   15.0         0.001  1.483612  0.462767   1.284995    0.378932
 16   16.0         0.001  1.483838  0.461912   1.306148    0.399401
 17   17.0         0.001  1.490719  0.479743   1.333813    0.443834
 18   18.0         0.001  1.565393  0.530528   1.349569    0.475287
 19   19.0         0.001  1.591645  0.559486   1.345834    0.456316
 20   20.0         0.001  1.552724  0.542083   1.326524    0.421368
 21   21.0         0.001  1.474418  0.498573   1.304914    0.393909
 22   22.0         0.001  1.413106  0.450499   1.287777    0.376935
 23   23.0         0.001  1.362431  0.437090   1.283494    0.377933
 24   24.0         0.001  1.358689  0.431669   1.285117    0.383425
 25   25.0         0.001  1.361103  0.443367   1.288035    0.391413
 26   26.0         0.001  1.378834  0.452782   1.286690    0.400399
 27   27.0         0.001  1.413147  0.468616   1.276096    0.390914
 28   28.0         0.001  1.361591  0.445649   1.263008    0.374938
 29   29.0         0.001  1.334438  0.424251   1.251937    0.370444
 30   30.0         0.001  1.295334  0.411412   1.247289    0.363455
 31   31.0         0.001  1.273734  0.406990   1.247032    0.364953
 32   32.0         0.001  1.283472  0.405849   1.249555    0.365452
 33   33.0         0.001  1.275911  0.405421   1.253633    0.369945
 34   34.0         0.001  1.277691  0.414123   1.257425    0.380929
 35   35.0         0.001  1.293553  0.416548   1.248768    0.372441
 36   36.0         0.001  1.277910  0.413409   1.231694    0.358962
 37   37.0         0.001  1.241372  0.392439   1.215239    0.350474
 38   38.0         0.001  1.193187  0.372896   1.211065    0.345981
 39   39.0         0.001  1.179100  0.364479   1.212038    0.343485
 40   40.0         0.001  1.173053  0.364907   1.214901    0.343984
 41   41.0         0.001  1.163406  0.365050   1.212921    0.344983
 42   42.0         0.001  1.172443  0.367903   1.203459    0.343485
 43   43.0         0.001  1.164137  0.366762   1.196400    0.339491
 44   44.0         0.001  1.162585  0.367332   1.189481    0.338992
 45   45.0         0.001  1.148926  0.363053   1.179952    0.334498
 46   46.0         0.001  1.157711  0.363053   1.174637    0.333500
 47   47.0         0.001  1.123281  0.351926   1.170955    0.333500
 48   48.0         0.001  1.107714  0.342796   1.173864    0.333500
 49   49.0         0.001  1.091545  0.339230   1.176205    0.336495

[OutputCasTables]

                 casLib                  Name   Rows  Columns  \
 0  CASUSERHDFS(nijakh)  hmnistTrainedWeights  41671        3

                                             casTable
 0  CASTable('hmnistTrainedWeights', caslib='CASUS...

+ Elapsed: 60.4s, user: 7.92e+03s, sys: 1.38e+03s, mem: 2.15e+05mb

In [0]:
conn.deepLearn.dlScore(                
      casOut={"name":"test_scored",
              "replace":True},copyvars={"label"},
      initWeights={"name":"hmnistTrainedWeights"},
      modelTable={"name":"hmnistcnn"},
      table={"name":"test"}
)

[OutputCasTables]

                 casLib         Name  Rows  Columns  \
 0  CASUSERHDFS(nijakh)  test_scored  1002       11

                                             casTable
 0  CASTable('test_scored', caslib='CASUSERHDFS(ni...

[ScoreInfo]

                          Descr         Value
 0  Number of Observations Read          1002
 1  Number of Observations Used          1002
 2  Misclassification Error (%)      33.63273
 3                   Loss Error      1.297432

+ Elapsed: 2.32s, user: 15.7s, sys: 48.8s, mem: 2.59e+04mb

In [0]:
#test_out=conn.CASTable('test_scored')
#test_out.fetch(maxrows=100)
conn.table.fetch(table="test_scored",maxrows=100,to=1000)

,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
0,2.0,0.076492,0.228905,0.142519,0.065847,0.245478,0.066110,0.174649,0,0.245478,4.0
1,2.0,0.043153,0.290850,0.215652,0.089837,0.104826,0.043637,0.212045,4,0.290850,1.0
2,2.0,0.082637,0.222707,0.105718,0.071870,0.250666,0.094852,0.171550,0,0.250666,4.0
3,2.0,0.063762,0.274222,0.111230,0.074859,0.207827,0.094565,0.173535,4,0.274222,1.0
4,2.0,0.073605,0.320467,0.100352,0.057217,0.193148,0.091947,0.163264,4,0.320467,1.0
...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,0.053347,0.285169,0.097200,0.059793,0.248420,0.085591,0.170480,4,0.285169,1.0
96,1.0,0.039238,0.170415,0.133730,0.085597,0.277204,0.078176,0.215640,0,0.277204,4.0
97,1.0,0.035224,0.192747,0.341358,0.036175,0.111312,0.018612,0.264572,6,0.341358,2.0
98,1.0,0.023712,0.195719,0.164585,0.067829,0.288895,0.076008,0.183252,0,0.288895,4.0
99,1.0,0.080456,0.284057,0.097642,0.068012,0.210275,0.102052,0.157505,4,0.284057,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
100,1.0,0.048921,0.258835,0.093274,0.050089,0.292581,0.094715,0.161585,0,0.292581,4.0
101,1.0,0.020896,0.302349,0.147032,0.042778,0.202339,0.077395,0.207211,4,0.302349,1.0
102,1.0,0.058300,0.254067,0.105929,0.055914,0.274864,0.074254,0.176672,0,0.274864,4.0
103,1.0,0.070815,0.301989,0.098773,0.064500,0.208732,0.101121,0.154069,4,0.301989,1.0
104,1.0,0.050625,0.317237,0.081439,0.058769,0.226901,0.097155,0.167873,4,0.317237,1.0
...,...,...,...,...,...,...,...,...,...,...,...
195,4.0,0.044126,0.592664,0.194244,0.008094,0.007739,0.003462,0.149672,4,0.592664,1.0
196,4.0,0.074204,0.452949,0.112463,0.041977,0.123895,0.064933,0.129579,4,0.452949,1.0
197,4.0,0.075280,0.322566,0.107903,0.051325,0.206858,0.072501,0.163567,4,0.322566,1.0
198,4.0,0.082077,0.365147,0.114960,0.046255,0.164912,0.077609,0.149039,4,0.365147,1.0
199,4.0,0.055931,0.423748,0.104239,0.049549,0.126591,0.087046,0.152897,4,0.423748,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
200,4.0,0.044437,0.426781,0.145908,0.041156,0.093075,0.057960,0.190683,4,0.426781,1.0
201,4.0,0.074709,0.347666,0.126601,0.049376,0.148105,0.067703,0.185841,4,0.347666,1.0
202,4.0,0.079922,0.362576,0.117074,0.050423,0.161691,0.074391,0.153922,4,0.362576,1.0
203,4.0,0.079053,0.355747,0.110419,0.053782,0.161420,0.088547,0.151032,4,0.355747,1.0
204,4.0,0.074230,0.472938,0.114175,0.038847,0.120186,0.061034,0.118588,4,0.472938,1.0
...,...,...,...,...,...,...,...,...,...,...,...
295,4.0,0.104982,0.299910,0.200710,0.039711,0.148524,0.040066,0.166097,4,0.299910,1.0
296,4.0,0.069308,0.332596,0.109775,0.048063,0.201583,0.076886,0.161790,4,0.332596,1.0
297,4.0,0.056449,0.464946,0.110321,0.040147,0.100688,0.072158,0.155292,4,0.464946,1.0
298,4.0,0.058215,0.424246,0.130643,0.040023,0.131159,0.067841,0.147872,4,0.424246,1.0
299,4.0,0.056015,0.432599,0.123354,0.035920,0.131405,0.068818,0.151889,4,0.432599,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
300,4.0,0.079607,0.299357,0.103894,0.066118,0.203018,0.088494,0.159513,4,0.299357,1.0
301,4.0,0.073824,0.393418,0.104237,0.044961,0.161911,0.081708,0.139942,4,0.393418,1.0
302,4.0,0.012431,0.255096,0.224327,0.009140,0.326988,0.010712,0.161306,0,0.326988,4.0
303,4.0,0.072209,0.342891,0.093516,0.058895,0.185147,0.099291,0.148051,4,0.342891,1.0
304,4.0,0.069875,0.330628,0.101178,0.056677,0.197475,0.095989,0.148178,4,0.330628,1.0
...,...,...,...,...,...,...,...,...,...,...,...
395,4.0,0.089449,0.680471,0.159959,0.006415,0.001942,0.001692,0.060071,4,0.680471,1.0
396,4.0,0.073884,0.316735,0.108012,0.060291,0.204276,0.087188,0.149614,4,0.316735,1.0
397,4.0,0.095600,0.320667,0.138338,0.053091,0.170588,0.073851,0.147864,4,0.320667,1.0
398,4.0,0.081064,0.294078,0.176215,0.049307,0.176699,0.042371,0.180267,4,0.294078,1.0
399,4.0,0.080917,0.464309,0.153127,0.030627,0.070375,0.040677,0.159968,4,0.464309,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
400,4.0,0.075341,0.337347,0.125843,0.059738,0.153440,0.077693,0.170598,4,0.337347,1.0
401,4.0,0.063785,0.494544,0.136895,0.030045,0.099426,0.046233,0.129072,4,0.494544,1.0
402,4.0,0.073967,0.540348,0.136146,0.025893,0.072473,0.039076,0.112097,4,0.540348,1.0
403,4.0,0.062889,0.369151,0.077333,0.060417,0.181427,0.110829,0.137953,4,0.369151,1.0
404,4.0,0.073457,0.445049,0.132209,0.036008,0.137797,0.052268,0.123213,4,0.445049,1.0
...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,0.056477,0.481720,0.116134,0.045463,0.081868,0.068661,0.149678,4,0.481720,1.0
496,4.0,0.097146,0.425356,0.140800,0.038117,0.110446,0.040923,0.147212,4,0.425356,1.0
497,4.0,0.073152,0.359868,0.095891,0.053360,0.183654,0.094949,0.139127,4,0.359868,1.0
498,4.0,0.089728,0.437106,0.161436,0.033196,0.090757,0.040725,0.147052,4,0.437106,1.0
499,4.0,0.085698,0.417217,0.131206,0.039091,0.126036,0.065357,0.135394,4,0.417217,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
500,4.0,0.079292,0.403048,0.132248,0.034685,0.132317,0.066738,0.151672,4,0.403048,1.0
501,4.0,0.082931,0.344361,0.128124,0.047581,0.182737,0.065105,0.149161,4,0.344361,1.0
502,4.0,0.038804,0.409056,0.135923,0.044748,0.154149,0.055156,0.162165,4,0.409056,1.0
503,4.0,0.055340,0.319709,0.085579,0.047182,0.245201,0.087378,0.159611,4,0.319709,1.0
504,4.0,0.076054,0.363681,0.135468,0.055388,0.130730,0.064766,0.173913,4,0.363681,1.0
...,...,...,...,...,...,...,...,...,...,...,...
595,4.0,0.000313,0.352382,0.415223,0.030135,0.024807,0.010171,0.166968,6,0.415223,2.0
596,4.0,0.057531,0.571971,0.205091,0.019887,0.017615,0.009578,0.118326,4,0.571971,1.0
597,4.0,0.103608,0.436667,0.299665,0.011482,0.006454,0.003218,0.138907,4,0.436667,1.0
598,4.0,0.006213,0.433618,0.485696,0.001815,0.000913,0.000275,0.071469,6,0.485696,2.0
599,4.0,0.051151,0.382986,0.177466,0.031140,0.133175,0.051587,0.172496,4,0.382986,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
600,4.0,0.081828,0.363448,0.365971,1.063558e-02,2.354403e-02,4.891679e-03,0.149682,6,0.365971,2.0
601,4.0,0.054047,0.463027,0.145660,3.574163e-02,9.773462e-02,4.235107e-02,0.161439,4,0.463027,1.0
602,4.0,0.104106,0.472731,0.422947,3.043206e-07,1.422472e-13,5.625038e-14,0.000215,4,0.472731,1.0
603,4.0,0.000091,0.907265,0.087196,7.222871e-05,9.116273e-10,2.249968e-10,0.005376,4,0.907265,1.0
604,4.0,0.066037,0.469807,0.165862,3.310618e-02,8.639149e-02,4.123530e-02,0.137561,4,0.469807,1.0
...,...,...,...,...,...,...,...,...,...,...,...
695,4.0,0.015115,0.441298,0.464042,3.244452e-03,1.023632e-03,5.489773e-04,0.074728,6,0.464042,2.0
696,4.0,0.070849,0.331097,0.093030,5.732884e-02,2.028470e-01,9.876609e-02,0.146082,4,0.331097,1.0
697,4.0,0.090247,0.212365,0.135469,7.666800e-02,2.224736e-01,8.726539e-02,0.175513,0,0.222474,4.0
698,4.0,0.090158,0.485842,0.160815,3.064799e-02,7.681734e-02,2.806000e-02,0.127659,4,0.485842,1.0
699,4.0,0.094799,0.238808,0.129168,7.631638e-02,2.054692e-01,8.894552e-02,0.166494,4,0.238808,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
700,4.0,0.074840,0.305093,0.103641,0.056654,0.194789,0.095638,0.169346,4,0.305093,1.0
701,4.0,0.063236,0.369791,0.121607,0.047045,0.150536,0.076624,0.171161,4,0.369791,1.0
702,4.0,0.084311,0.424334,0.193386,0.031613,0.099595,0.036207,0.130555,4,0.424334,1.0
703,4.0,0.043344,0.528530,0.374614,0.003509,0.000545,0.000248,0.049210,4,0.528530,1.0
704,4.0,0.047478,0.464323,0.300831,0.019059,0.019663,0.009058,0.139588,4,0.464323,1.0
...,...,...,...,...,...,...,...,...,...,...,...
795,2.0,0.071854,0.329837,0.104242,0.055974,0.189524,0.092215,0.156353,4,0.329837,1.0
796,4.0,0.062969,0.335191,0.096145,0.054188,0.207396,0.093338,0.150774,4,0.335191,1.0
797,4.0,0.043700,0.536547,0.318281,0.007014,0.011092,0.001985,0.081382,4,0.536547,1.0
798,4.0,0.064219,0.578611,0.125650,0.030910,0.077816,0.030911,0.091883,4,0.578611,1.0
799,4.0,0.055147,0.523121,0.121524,0.032612,0.087373,0.047066,0.133156,4,0.523121,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
800,4.0,0.097985,0.531380,0.177284,0.016675,0.043034,0.016948,0.116694,4,0.531380,1.0
801,4.0,0.085163,0.284551,0.115523,0.064909,0.197345,0.092700,0.159808,4,0.284551,1.0
802,4.0,0.074045,0.309168,0.089079,0.065734,0.207690,0.107547,0.146738,4,0.309168,1.0
803,4.0,0.100568,0.520754,0.196572,0.017503,0.042144,0.015868,0.106590,4,0.520754,1.0
804,4.0,0.033396,0.400363,0.230040,0.049563,0.074955,0.037236,0.174447,4,0.400363,1.0
...,...,...,...,...,...,...,...,...,...,...,...
895,2.0,0.051618,0.481203,0.106995,0.036019,0.112183,0.076312,0.135670,4,0.481203,1.0
896,2.0,0.087479,0.236339,0.098160,0.081020,0.220901,0.113539,0.162562,4,0.236339,1.0
897,2.0,0.072062,0.489506,0.131771,0.030237,0.086684,0.043792,0.145948,4,0.489506,1.0
898,2.0,0.087966,0.255068,0.115266,0.063648,0.230511,0.091540,0.156002,4,0.255068,1.0
899,2.0,0.078047,0.264794,0.101840,0.065042,0.236775,0.092707,0.160794,4,0.264794,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
900,2.0,0.065260,0.499097,0.123014,0.030887,0.085605,0.051000,0.145137,4,0.499097,1.0
901,2.0,0.080561,0.304947,0.114057,0.052927,0.213528,0.081808,0.152172,4,0.304947,1.0
902,3.0,0.035976,0.269539,0.140798,0.061874,0.207479,0.091396,0.192938,4,0.269539,1.0
903,3.0,0.001281,0.254954,0.239845,0.067165,0.083520,0.014136,0.339099,2,0.339099,6.0
904,3.0,0.065388,0.330097,0.138077,0.049945,0.154469,0.076105,0.185919,4,0.330097,1.0
...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,0.061088,0.249756,0.146522,0.068480,0.210816,0.066704,0.196635,4,0.249756,1.0
996,1.0,0.089887,0.395924,0.150956,0.030798,0.133878,0.038476,0.160082,4,0.395924,1.0
997,1.0,0.058512,0.318038,0.105340,0.052930,0.234575,0.077706,0.152899,4,0.318038,1.0
998,1.0,0.080721,0.335211,0.110034,0.056437,0.183615,0.095855,0.138127,4,0.335211,1.0
999,1.0,0.062977,0.311082,0.080400,0.061669,0.227402,0.100780,0.155690,4,0.311082,1.0

In [0]:
conn.loadactionset('freqtab')
conn.freqtab.freqtab(table="test_scored",tabulate=[{"vars":{"label"},"cross":{"_DL_PredLevel_"}}])

NOTE: Added action set 'freqtab'.

[LevelInfo]

 Variable Level Information

          Variable                                     Label  Levels  \
 0  _DL_PredLevel_  Predicted level with highest probability       5
 1           label                                                 7

                                               Values
 0             0            1            2        ...
 1                                      0 1 2 3 4 5 6

[NObs]

 Number of Observations

       RowId                  Description   Value
 0     NREAD  Number of Observations Read  1002.0
 1     NUSED  Number of Observations Used  1002.0
 2  NWEIGHTS               Sum of Weights  1002.0

[Table1.CrossList]

 Table of label by _DL_PredLevel_

    F_label  label F__DL_PredLevel_  _DL_PredLevel_  Frequency     Percent  \
 0        0    0.0                1             1.0       20.0    1.996008
 1        0    0.0                2             2.0        2.0    0.199601
 2        0    0.0                4             4.0        8.0    0.798403
 3        0    0.0                6             6.0        1.0    0.099800
 4        0    0.0            Total             NaN       31.0    3.093812
 5        1    1.0                1             1.0       41.0    4.091816
 6        1    1.0                2             2.0        3.0    0.299401
 7        1    1.0                4             4.0       11.0    1.097804
 8        1    1.0            Total             NaN       55.0    5.489022
 9        2    2.0                1             1.0       76.0    7.584830
 10       2    2.0                2             2.0        8.0    0.798403
 11       2    2.0                4             4.0       23.0    2.295409
 12       2    2.0                6             6.0        4.0    0.399202
 13       2    2.0            Total             NaN      111.0   11.077844
 14       3    3.0                1             1.0        9.0    0.898204
 15       3    3.0                4             4.0        2.0    0.199601
 16       3    3.0                6             6.0        2.0    0.199601
 17       3    3.0            Total             NaN       13.0    1.297405
 18       4    4.0                1             1.0      639.0   63.772455
 19       4    4.0                2             2.0       15.0    1.497006
 20       4    4.0                4             4.0       16.0    1.596806
 21       4    4.0                6             6.0        1.0    0.099800
 22       4    4.0            Total             NaN      671.0   66.966068
 23       5    5.0                1             1.0       11.0    1.097804
 24       5    5.0                2             2.0        1.0    0.099800
 25       5    5.0                4             4.0        1.0    0.099800
 26       5    5.0            Total             NaN       13.0    1.297405
 27       6    6.0                0             0.0        2.0    0.199601
 28       6    6.0                1             1.0       83.0    8.283433
 29       6    6.0                2             2.0       14.0    1.397206
 30       6    6.0                4             4.0        6.0    0.598802
 31       6    6.0                6             6.0        3.0    0.299401
 32       6    6.0            Total             NaN      108.0   10.778443
 33   Total    NaN                0             0.0        2.0    0.199601
 34   Total    NaN                1             1.0      879.0   87.724551
 35   Total    NaN                2             2.0       43.0    4.291417
 36   Total    NaN                4             4.0       67.0    6.686627
 37   Total    NaN                6             6.0       11.0    1.097804
 38   Total    NaN            Total             NaN     1002.0  100.000000

     RowPercent  ColPercent
 0    64.516129    2.275313
 1     6.451613    4.651163
 2    25.806452   11.940299
 3     3.225806    9.090909
 4   100.000000         NaN
 5    74.545455    4.664391
 6     5.454545    6.976744
 7    20.000000   16.417910
 8   100.000000         NaN
 9    68.468468    8.646189
 10    7.207207   18.604651
 11   20.720721   34.328358
 12    3.603604   36.363636
 13  100.000000         NaN
 14   69.230769    1.023891
 15   15.384615    2.985075
 16   15.384615   18.181818
 17  100.000000         NaN
 18   95.230999   72.696246
 19    2.235469   34.883721
 20    2.384501   23.880597
 21    0.149031    9.090909
 22  100.000000         NaN
 23   84.615385    1.251422
 24    7.692308    2.325581
 25    7.692308    1.492537
 26  100.000000         NaN
 27    1.851852  100.000000
 28   76.851852    9.442548
 29   12.962963   32.558140
 30    5.555556    8.955224
 31    2.777778   27.272727
 32  100.000000         NaN
 33         NaN  100.000000
 34         NaN  100.000000
 35         NaN  100.000000
 36         NaN  100.000000
 37         NaN  100.000000
 38         NaN         NaN

[Timing]

 Task Timing

                        Task      Time   RelTime
 0         Setup and Parsing  0.077252  0.270778
 1              Levelization  0.135801  0.476000
 2  Producing Results Tables  0.072240  0.253211
 3                   Cleanup  0.000003  0.000011
 4                     Total  0.285296  1.000000

+ Elapsed: 0.391s, user: 1.91s, sys: 8.21s, mem: 1.82e+03mb