<a href="https://colab.research.google.com/github/nikhilgunti/Skin-Cancer-Detection/blob/master/DLPY_CNN_Skin_cancer_images.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Author: Nilesh Jakhotiya
#Email:  jakhotia.nilesh@gmail.com
from swat import CAS
import swat
from swat.cas.table import merge
import os
import dlpy
import numpy
import matplotlib.image as mping
import matplotlib.pyplot as plt
from PIL import Image
import numpy as np
import pandas as pd

from dlpy.images import ImageTable
from dlpy.applications import UNet
from dlpy.model import Optimizer, Model, DataSpec, MomentumSolver, AdamSolver, StepLR
from dlpy.layers import *
from dlpy.utils import display_segmentation_images, create_segmentation_table, display_segmentation_results
from dlpy.sequential import Sequential

In [0]:
cashost='rdcgrd001'
casport=37645
casauth='C:/Users/nijakh/_authinfo'

# Start CAS session
conn = CAS(cashost, casport, authinfo=casauth, caslib="casuser")
conn.loadactionset('image')
conn.loadactionset('deeplearn')

NOTE: Added action set 'image'.
NOTE: Added action set 'deeplearn'.

[actionset]

 'deeplearn'

+ Elapsed: 0.0669s, user: 0.273s, sys: 0.682s, mem: 30.9mb

In [0]:
# load_data
image_data=conn.loadTable( caslib="casuser",path="hmnist_28_28_L.csv", importoptions={"filetype":"csv"},casout={"name":"hmnist"})

NOTE: Cloud Analytic Services made the file hmnist_28_28_L.csv available as table HMNIST in caslib CASUSERHDFS(nijakh).

In [0]:
#Split data into train and test
conn.loadactionset('sampling')
conn.sampling.stratified(table="hmnist",target='label',samppct=30,samppct2=10,output={"casout":{"name":"hmnist_sample","replace":True},"copyvars":"ALL"})

NOTE: Added action set 'sampling'.
NOTE: The PARTIND option is set to be TRUE for segment stratified sampling.
NOTE: Stratified sampling is in effect.
NOTE: Using SEED=383246538 for sampling.

[OutputCasTables]

                 casLib           Name Label   Rows  Columns  \
 0  CASUSERHDFS(nijakh)  hmnist_sample        10015      786

                                             casTable
 0  CASTable('hmnist_sample', caslib='CASUSERHDFS(...

[PartIndMap]

 Partition Indicator Map

   PartIndName TargetName
 0  _PartInd1_      label

[STRAFreq]

 Frequencies

   TargetName TargetLevel   NObs  NSamp1  NSamp2
 0      label              10015    3004    1002

+ Elapsed: 4.05s, user: 14.9s, sys: 19.9s, mem: 1.15e+04mb

In [0]:
#split into Train, Validation and Test sets
conn.loadactionset('table')
conn.table.save(caslib="casuser",name="hmnist_train",replace=True,table={"name":'hmnist_sample',"where":"_partind1_=0" })
conn.table.save(caslib="casuser",name="hmnist_valid",replace=True,table={"name":'hmnist_sample',"where":"_partind1_=1" })
conn.table.save(caslib="casuser",name="hmnist_test",replace=True,table={"name":'hmnist_sample',"where":"_partind1_=2" })

NOTE: Added action set 'table'.
NOTE: Cloud Analytic Services saved the file hmnist_train.sashdat in caslib CASUSER(nijakh).
NOTE: Cloud Analytic Services saved the file hmnist_valid.sashdat in caslib CASUSER(nijakh).
NOTE: Cloud Analytic Services saved the file hmnist_test.sashdat in caslib CASUSER(nijakh).

[caslib]

 'CASUSER(nijakh)'

[name]

 'hmnist_test.sashdat'

+ Elapsed: 0.349s, user: 1.62s, sys: 1.18s, mem: 2.78e+03mb

In [0]:
# load_data
image_data=conn.loadTable( caslib="casuser",path="hmnist_train.sashdat", importoptions={"filetype":"hdat"},casout={"name":"train","replace":True})
image_data=conn.loadTable( caslib="casuser",path="hmnist_valid.sashdat", importoptions={"filetype":"hdat"},casout={"name":"valid","replace":True})
image_data=conn.loadTable( caslib="casuser",path="hmnist_test.sashdat", importoptions={"filetype":"hdat"},casout={"name":"test","replace":True})

NOTE: Cloud Analytic Services made the file hmnist_train.sashdat available as table TRAIN in caslib CASUSERHDFS(nijakh).
NOTE: Cloud Analytic Services made the file hmnist_valid.sashdat available as table VALID in caslib CASUSERHDFS(nijakh).
NOTE: Cloud Analytic Services made the file hmnist_test.sashdat available as table TEST in caslib CASUSERHDFS(nijakh).

In [0]:
conn.table.tableInfo(name="TEST")      
#conn.table.tableDetails(name="test")

,Name,Rows,Columns,IndexedColumns,Encoding,CreateTimeFormatted,ModTimeFormatted,AccessTimeFormatted,JavaCharSet,CreateTime,...,Repeated,View,MultiPart,SourceName,SourceCaslib,Compressed,Creator,Modifier,SourceModTimeFormatted,SourceModTime
0,TEST,1002,786,0,utf-8,2020-04-04T13:17:33-04:00,2020-04-04T13:17:33-04:00,2020-04-04T13:17:33-04:00,UTF8,1.901640e+09,...,0,0,0,hmnist_test.sashdat,CASUSER(nijakh),0,nijakh,,2020-04-04T13:17:32-04:00,1.901640e+09

In [0]:
#define empty cnn model
conn.deepLearn.buildModel(
modelTable={"name":"hmnistcnn", "replace":True},
type="CNN")

conn.deepLearn.modelInfo(                        
modelTable={"name":"hmnistcnn"}
)

[ModelInfo]

                               Descr                         Value
 0                        Model Name                     hmnistcnn
 1                        Model Type  Convolutional Neural Network
 2                  Number of Layers                             0
 3            Number of Input Layers                             0
 4           Number of Output Layers                             0
 5    Number of Convolutional Layers                             0
 6          Number of Pooling Layers                             0
 7  Number of Fully Connected Layers                             0

+ Elapsed: 0.302s, user: 1.17s, sys: 1.76s, mem: 313mb

In [0]:
#Add layers to empty cnn model

#Add input layer
conn.deepLearn.addLayer(          
layer={"type":"INPUT","height":28,
"width":28},    
modelTable={"name":"hmnistcnn"} ,   
name="data")           

#Conv layer with 32 filters of 3 by 3
conn.deepLearn.addLayer(
layer={"type":"convo",
"act":"relu",
"nfilters":32,
"height":3,
"width":3,
"dropout":.2    
},      
modelTable={"name":"hmnistcnn"} ,  
name="conv1",
srcLayers={"data"})   

#batch normalization layer 
conn.deepLearn.addLayer(
layer={"type":"batchnorm"} ,     
modelTable={"name":"hmnistcnn"} ,  
name="batch1",
srcLayers={"conv1"})  

#pooling layer 
conn.deepLearn.addLayer(
layer={"type":"pool","dropout":.2,"height":3, "width":3}  ,    
modelTable={"name":"hmnistcnn"}   ,
name="pool1",
srcLayers={"batch1"})

#Conv layer with 64 filters of 4 by 4
conn.deepLearn.addLayer(
layer={"type":"convo",
"act":"relu",
"nfilters":64,
"height":4,
"width":4,
"dropout":.2,    
}      ,
modelTable={"name":"hmnistcnn"},   
name="conv2",
srcLayers={"pool1"})   

#batch normalization layer 
conn.deepLearn.addLayer(
layer={"type":"batchnorm"}  ,    
modelTable={"name":"hmnistcnn"} ,  
name="batch2",
srcLayers={"conv2"})  

#pooling layer 
conn.deepLearn.addLayer(
layer={"type":"pool","dropout":.2,"height":3, "width":3}   ,   
modelTable={"name":"hmnistcnn"}  , 
name="pool2",
srcLayers={"batch2"})

#Conv layer with 128 filters of 3 by 3
conn.deepLearn.addLayer(
layer={"type":"convo",
"act":"relu",
"nfilters":128,
"height":3,
"width":3,
"dropout":.2,    
}      ,
modelTable={"name":"hmnistcnn"},   
name="conv3",
srcLayers={"pool2"})   

#batch normalization layer 
conn.deepLearn.addLayer(
layer={"type":"batchnorm"}  ,    
modelTable={"name":"hmnistcnn"} ,  
name="batch3",
srcLayers={"conv3"})  

#pooling layer 
conn.deepLearn.addLayer(
layer={"type":"pool","dropout":.2,"height":3, "width":3}   ,   
modelTable={"name":"hmnistcnn"}  , 
name="pool3",
srcLayers={"batch3"})

#output layer
conn.deepLearn.addLayer(
layer={"type":"output",
"act":'softmax',
"fullConnect":True
},    
modelTable={"name":"hmnistcnn"}  ,   
name="outlayer",
srcLayers={"pool3"})

,casLib,Name,Rows,Columns,casTable
0,CASUSERHDFS(nijakh),hmnistcnn,134,5,"CASTable('hmnistcnn', caslib='CASUSERHDFS(nija..."

In [0]:
conn.deepLearn.modelInfo(                        
modelTable={"name":"hmnistcnn"}
)

[ModelInfo]

                                   Descr                         Value
 0                            Model Name                     hmnistcnn
 1                            Model Type  Convolutional Neural Network
 2                      Number of Layers                            11
 3                Number of Input Layers                             1
 4               Number of Output Layers                             1
 5        Number of Convolutional Layers                             3
 6              Number of Pooling Layers                             3
 7      Number of Fully Connected Layers                             0
 8  Number of Batch Normalization Layers                             3

+ Elapsed: 0.337s, user: 6.48s, sys: 14.3s, mem: 764mb

In [0]:
#create input variable list 
vars=[]
for x in range(784):
    tmpx=str(x).zfill(4)
    vname="pixel{0}".format(tmpx)
    vars.append(vname)
    
#vars

In [0]:
#Train the model
conn.deepLearn.dlTrain(
optimizer={"algorithm":{"method":"ADAM"}, "minibatchsize":90, "maxepochs":100},
inputs=vars,
modelTable={"name":"hmnistcnn"},
modelWeights={"name":"hmnistTrainedWeights",
"replace":True},
#forceequalpadding=True,
table={"name":"train"},
nominals=[{"name":"label"}],
target="label",
validtable={"name":"valid"})

NOTE: Due to data distribution, miniBatchSize has been limited to 83.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.

[ModelInfo]

                                         Descr                         Value
 0                                  Model Name                     hmnistcnn
 1                                  Model Type  Convolutional Neural Network
 2                            Number of Layers                            11
 3                      Number of Input Layers                             1
 4                     Number of Output Layers                             1
 5              Number of Convolutional Layers                             3
 6                    Number of Pooling Layers                             3
 7            Number of Fully Connected Layers                             0
 8        Number of Batch Normalization Layers                             3
 9                 Number of Weight Parameters                        110368
 10                  Number of Bias Parameters                           679
 11           Total Number of Model Parameters                        111047
 12  Approximate Memory Cost for Training (MB)                          1636

[OptIterHistory]

     Epoch  LearningRate      Loss  FitError  ValidLoss  ValidError
 0     0.0         0.001  2.000427  0.730571   1.335999    0.348868
 1     1.0         0.001  1.457004  0.338992   1.146744    0.349201
 2     2.0         0.001  1.438079  0.333666   1.064399    0.359521
 3     3.0         0.001  1.426209  0.336495   1.050590    0.368176
 4     4.0         0.001  1.349306  0.340989   1.088449    0.378162
 ..    ...           ...       ...       ...        ...         ...
 95   95.0         0.001  0.878712  0.297887   0.639687    0.319241
 96   96.0         0.001  0.868608  0.289898   0.641787    0.318575
 97   97.0         0.001  0.861722  0.292728   0.646890    0.319241
 98   98.0         0.001  0.873245  0.296722   0.640488    0.319574
 99   99.0         0.001  0.865246  0.292228   0.645421    0.321571

 [100 rows x 6 columns]

[OutputCasTables]

                 casLib                  Name    Rows  Columns  \
 0  CASUSERHDFS(nijakh)  hmnistTrainedWeights  111495        3

                                             casTable
 0  CASTable('hmnistTrainedWeights', caslib='CASUS...

+ Elapsed: 108s, user: 1.91e+04s, sys: 2.33e+03s, mem: 2.33e+05mb

In [0]:
conn.deepLearn.dlTune(inputs=vars,
modelTable={"name":"hmnistcnn"},
initweights={"name":"hmnistTrainedWeights"},
modelWeights={"name":"hmnistTrainedWeights2","replace":True},
#forceequalpadding=True,
table={"name":"train"},
nominals=[{"name":"label"}],
target="label",
validtable={"name":"valid"},
optimizer={"algorithm":"ADAM", "dropout":{"lowerBound":.1, "upperBound":.5},"minibatchsize":{"lowerBound":30, "upperBound":90}, "maxepochs":200 } )

NOTE: Due to data distribution, miniBatchSize has been limited to 83.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.
WARNING: The source layer conv1 to batch normalization layer batch1 includes a bias term.
WARNING: The source layer conv1 to batch normalization layer batch1 does not have an IDENTITY activation function.
WARNING: The source layer conv2 to batch normalization layer batch2 includes a bias term.
WARNING: The source layer conv2 to batch normalization layer batch2 does not have an IDENTITY activation function.
WARNING: The source layer conv3 to batch normalization layer batch3 includes a bias term.
WARNING: The source layer conv3 to batch normalization layer batch3 does not have an IDENTITY activation function.

[ModelInfo]

                                         Descr                         Value
 0                                  Model Name                     hmnistcnn
 1                                  Model Type  Convolutional Neural Network
 2                            Number of Layers                            11
 3                      Number of Input Layers                             1
 4                     Number of Output Layers                             1
 5              Number of Convolutional Layers                             3
 6                    Number of Pooling Layers                             3
 7            Number of Fully Connected Layers                             0
 8        Number of Batch Normalization Layers                             3
 9                 Number of Weight Parameters                        110368
 10                  Number of Bias Parameters                           679
 11           Total Number of Model Parameters                        111047
 12  Approximate Memory Cost for Training (MB)                          1637

[OutputCasTables]

                 casLib                   Name    Rows  Columns  \
 0  CASUSERHDFS(nijakh)  hmnistTrainedWeights2  111495        3

                                             casTable
 0  CASTable('hmnistTrainedWeights2', caslib='CASU...

[TuneIterHistory]

    Iteration  PointsRemaining  BestPoint  BestFitError
 0        0.0              5.0        6.0      0.317244

[TuneParameters]

    dropOut  minibatchSize  Iterations  ValidFitError
 0     0.32           87.0       200.0       0.317244
 1     0.20           51.0       200.0       0.319574
 2     0.16           63.0       200.0       0.319574
 3     0.28           45.0       200.0       0.319574
 4     0.48           69.0       200.0       0.320240
 5     0.24           81.0       200.0       0.320573
 6     0.12           57.0       200.0       0.322903
 7     0.36           33.0       200.0       0.324567
 8     0.40           75.0       200.0       0.325233
 9     0.44           39.0       200.0       0.327563

+ Elapsed: 2.56e+03s, user: 3.07e+05s, sys: 4.13e+04s, mem: 2.33e+05mb

In [0]:
conn.deepLearn.dlScore(                
      casOut={"name":"test_scored",
              "replace":True},copyvars={"label"},
      initWeights={"name":"hmnistTrainedWeights2"},
      modelTable={"name":"hmnistcnn"},
      table={"name":"test"}
)

[OutputCasTables]

                 casLib         Name  Rows  Columns  \
 0  CASUSERHDFS(nijakh)  test_scored  1002       11

                                             casTable
 0  CASTable('test_scored', caslib='CASUSERHDFS(ni...

[ScoreInfo]

                          Descr         Value
 0  Number of Observations Read          1002
 1  Number of Observations Used          1002
 2  Misclassification Error (%)      29.34132
 3                   Loss Error      0.874949

+ Elapsed: 1.47s, user: 14s, sys: 44.4s, mem: 2.38e+04mb

In [0]:
#test_out=conn.CASTable('test_scored')
#test_out.fetch(maxrows=100)
conn.table.fetch(table="test_scored",maxrows=100,to=1000)

,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
0,4.0,0.037584,0.929015,0.012932,0.000143,0.000012,0.000077,0.020238,4,0.929015,1.0
1,4.0,0.013219,0.875665,0.019800,0.000557,0.000199,0.001039,0.089521,4,0.875665,1.0
2,4.0,0.015372,0.933273,0.024345,0.000040,0.000018,0.000768,0.026183,4,0.933273,1.0
3,4.0,0.114962,0.815911,0.023468,0.001147,0.000135,0.001333,0.043044,4,0.815911,1.0
4,4.0,0.018139,0.950554,0.015975,0.000058,0.000022,0.000351,0.014900,4,0.950554,1.0
...,...,...,...,...,...,...,...,...,...,...,...
95,6.0,0.068206,0.468080,0.291563,0.013394,0.001625,0.036614,0.120517,4,0.468080,1.0
96,6.0,0.022131,0.372075,0.196481,0.014348,0.009550,0.002545,0.382870,2,0.382870,6.0
97,6.0,0.002769,0.661510,0.298245,0.000206,0.000052,0.000050,0.037168,4,0.661510,1.0
98,6.0,0.013431,0.097461,0.665291,0.007954,0.007284,0.000411,0.208167,6,0.665291,2.0
99,6.0,0.056868,0.152964,0.733337,0.013154,0.005887,0.001326,0.036464,6,0.733337,2.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
100,6.0,0.009080,0.558582,0.331777,0.005627,0.003481,0.003154,0.088299,4,0.558582,1.0
101,6.0,0.015006,0.211758,0.336503,0.024272,0.014382,0.008023,0.390056,2,0.390056,6.0
102,6.0,0.099588,0.492157,0.272767,0.001164,0.000265,0.000087,0.133972,4,0.492157,1.0
103,6.0,0.070831,0.737685,0.081001,0.002042,0.000791,0.002490,0.105161,4,0.737685,1.0
104,6.0,0.045620,0.755632,0.136479,0.006495,0.000762,0.000138,0.054874,4,0.755632,1.0
...,...,...,...,...,...,...,...,...,...,...,...
195,1.0,0.035602,0.350560,0.302409,0.048139,0.020902,0.026895,0.215492,4,0.350560,1.0
196,1.0,0.003001,0.078466,0.099219,0.015151,0.003803,0.006116,0.794245,2,0.794245,6.0
197,1.0,0.050489,0.315353,0.044615,0.093811,0.019849,0.022210,0.453672,2,0.453672,6.0
198,1.0,0.056765,0.670152,0.020731,0.014219,0.002375,0.016443,0.219316,4,0.670152,1.0
199,1.0,0.020399,0.467445,0.012865,0.072034,0.016808,0.032049,0.378399,4,0.467445,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
200,1.0,0.031720,0.217162,0.403838,0.043686,0.033666,0.020665,0.249264,6,0.403838,2.0
201,1.0,0.008247,0.125684,0.142680,0.032223,0.008488,0.024382,0.658296,2,0.658296,6.0
202,1.0,0.075637,0.655639,0.173350,0.002605,0.000686,0.001211,0.090872,4,0.655639,1.0
203,1.0,0.007080,0.275840,0.328458,0.055244,0.012392,0.099901,0.221086,6,0.328458,2.0
204,1.0,0.001105,0.082091,0.080805,0.073062,0.064285,0.263880,0.434773,2,0.434773,6.0
...,...,...,...,...,...,...,...,...,...,...,...
295,4.0,0.018817,0.941865,0.010915,0.000574,0.000105,0.001240,0.026485,4,0.941865,1.0
296,4.0,0.015970,0.921447,0.005078,0.000596,0.000113,0.003931,0.052866,4,0.921447,1.0
297,4.0,0.034496,0.892868,0.031377,0.000184,0.000059,0.000959,0.040058,4,0.892868,1.0
298,4.0,0.015695,0.914657,0.011720,0.000340,0.000139,0.001745,0.055704,4,0.914657,1.0
299,4.0,0.054153,0.882154,0.009318,0.001023,0.000132,0.003983,0.049236,4,0.882154,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
300,4.0,0.017315,0.935234,0.006962,0.000333,0.000100,0.000700,0.039357,4,0.935234,1.0
301,4.0,0.048045,0.918719,0.004385,0.000244,0.000023,0.001071,0.027513,4,0.918719,1.0
302,4.0,0.064277,0.789382,0.051462,0.003702,0.000763,0.000973,0.089441,4,0.789382,1.0
303,4.0,0.019617,0.941592,0.009890,0.000094,0.000062,0.001074,0.027671,4,0.941592,1.0
304,4.0,0.004876,0.975322,0.004321,0.000225,0.000107,0.000361,0.014788,4,0.975322,1.0
...,...,...,...,...,...,...,...,...,...,...,...
395,4.0,0.015745,0.959637,0.008786,0.000188,0.000080,0.000943,0.014622,4,0.959637,1.0
396,4.0,0.074099,0.877278,0.014262,0.000409,0.000080,0.003543,0.030329,4,0.877278,1.0
397,4.0,0.021313,0.953568,0.013475,0.000053,0.000011,0.000082,0.011499,4,0.953568,1.0
398,4.0,0.035817,0.922864,0.020962,0.000227,0.000097,0.000083,0.019950,4,0.922864,1.0
399,4.0,0.030425,0.920649,0.010679,0.000597,0.000164,0.000855,0.036632,4,0.920649,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
400,4.0,0.028066,0.933600,0.015514,0.000083,0.000031,0.000384,0.022322,4,0.933600,1.0
401,4.0,0.146785,0.679205,0.055069,0.011313,0.001368,0.003517,0.102743,4,0.679205,1.0
402,4.0,0.052798,0.863489,0.012759,0.001811,0.000323,0.001473,0.067348,4,0.863489,1.0
403,4.0,0.153909,0.794357,0.028934,0.000354,0.000079,0.000398,0.021970,4,0.794357,1.0
404,4.0,0.033118,0.928873,0.015303,0.000047,0.000017,0.000294,0.022348,4,0.928873,1.0
...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,0.016184,0.923624,0.008091,0.000967,0.000221,0.001333,0.049579,4,0.923624,1.0
496,4.0,0.019017,0.729957,0.014212,0.002009,0.001126,0.003004,0.230675,4,0.729957,1.0
497,4.0,0.110343,0.825954,0.023642,0.002603,0.000608,0.000672,0.036179,4,0.825954,1.0
498,4.0,0.057633,0.831703,0.048498,0.005583,0.001778,0.000337,0.054468,4,0.831703,1.0
499,4.0,0.024821,0.958950,0.004423,0.000012,0.000001,0.000781,0.011011,4,0.958950,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
500,4.0,0.019272,0.857998,0.024689,0.002812,0.000717,0.002586,0.091926,4,0.857998,1.0
501,4.0,0.033495,0.849350,0.073434,0.000745,0.000280,0.000701,0.041995,4,0.849350,1.0
502,4.0,0.026723,0.840156,0.014902,0.003828,0.000763,0.001216,0.112412,4,0.840156,1.0
503,4.0,0.034403,0.880255,0.046753,0.000247,0.000058,0.000952,0.037331,4,0.880255,1.0
504,4.0,0.091981,0.840727,0.020213,0.000683,0.000121,0.001731,0.044544,4,0.840727,1.0
...,...,...,...,...,...,...,...,...,...,...,...
595,4.0,0.078825,0.770608,0.089007,0.001758,0.000185,0.000074,0.059544,4,0.770608,1.0
596,4.0,0.098063,0.582285,0.135934,0.007285,0.002212,0.001759,0.172463,4,0.582285,1.0
597,4.0,0.014861,0.929462,0.026157,0.000756,0.000129,0.000018,0.028617,4,0.929462,1.0
598,4.0,0.029304,0.385597,0.186550,0.057002,0.020341,0.010360,0.310845,4,0.385597,1.0
599,4.0,0.058952,0.876188,0.028291,0.000627,0.000091,0.000314,0.035537,4,0.876188,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
600,4.0,0.053944,0.772603,0.047756,0.015955,0.002761,0.000450,0.106531,4,0.772603,1.0
601,4.0,0.020504,0.759506,0.155836,0.003424,0.001570,0.001139,0.058020,4,0.759506,1.0
602,4.0,0.104168,0.438266,0.360263,0.001653,0.000287,0.000913,0.094451,4,0.438266,1.0
603,4.0,0.095725,0.698422,0.105941,0.009112,0.001475,0.001012,0.088313,4,0.698422,1.0
604,4.0,0.060944,0.260327,0.348381,0.013531,0.003595,0.015048,0.298174,6,0.348381,2.0
...,...,...,...,...,...,...,...,...,...,...,...
695,4.0,0.021431,0.843196,0.077063,0.000686,0.000258,0.000115,0.057251,4,0.843196,1.0
696,4.0,0.061197,0.577214,0.206790,0.005364,0.001057,0.000301,0.148077,4,0.577214,1.0
697,4.0,0.071100,0.485368,0.183518,0.049050,0.012103,0.016151,0.182710,4,0.485368,1.0
698,4.0,0.025081,0.603103,0.295054,0.003095,0.000808,0.000679,0.072180,4,0.603103,1.0
699,4.0,0.048855,0.865916,0.040119,0.000248,0.000074,0.000234,0.044553,4,0.865916,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
700,4.0,0.002420,0.938344,0.038058,0.000018,0.000012,0.000011,0.021136,4,0.938344,1.0
701,4.0,0.002133,0.818695,0.167283,0.000004,0.000005,0.000006,0.011874,4,0.818695,1.0
702,4.0,0.013789,0.536725,0.229157,0.002931,0.001361,0.000227,0.215811,4,0.536725,1.0
703,4.0,0.227191,0.572007,0.114691,0.002218,0.000236,0.000785,0.082872,4,0.572007,1.0
704,4.0,0.004863,0.930646,0.037958,0.000068,0.000021,0.000002,0.026442,4,0.930646,1.0
...,...,...,...,...,...,...,...,...,...,...,...
795,4.0,0.042999,0.632015,0.210617,0.004444,0.001084,0.001656,0.107185,4,0.632015,1.0
796,4.0,0.040741,0.605447,0.203245,0.006120,0.001524,0.000700,0.142223,4,0.605447,1.0
797,4.0,0.057898,0.309140,0.120624,0.160635,0.086950,0.018097,0.246657,4,0.309140,1.0
798,4.0,0.017171,0.198438,0.135578,0.066556,0.072475,0.009817,0.499967,2,0.499967,6.0
799,4.0,0.025867,0.908468,0.059756,0.000054,0.000058,0.000013,0.005783,4,0.908468,1.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
800,4.0,0.150816,0.647052,0.030053,0.012161,0.001630,0.003885,0.154404,4,0.647052,1.0
801,4.0,0.084784,0.540592,0.158495,0.017190,0.004343,0.006960,0.187636,4,0.540592,1.0
802,4.0,0.055714,0.537337,0.097232,0.024444,0.010867,0.018677,0.255728,4,0.537337,1.0
803,4.0,0.010391,0.471723,0.093547,0.034009,0.010256,0.003057,0.377017,4,0.471723,1.0
804,4.0,0.202326,0.651532,0.059820,0.003421,0.000894,0.002124,0.079883,4,0.651532,1.0
...,...,...,...,...,...,...,...,...,...,...,...
895,0.0,0.015367,0.163485,0.077290,0.065233,0.054946,0.032624,0.591055,2,0.591055,6.0
896,0.0,0.012192,0.226023,0.140731,0.042726,0.063767,0.090564,0.423996,2,0.423996,6.0
897,0.0,0.004522,0.114075,0.148099,0.061450,0.115728,0.004385,0.551740,2,0.551740,6.0
898,0.0,0.009584,0.226004,0.202891,0.007862,0.009185,0.024053,0.520419,2,0.520419,6.0
899,0.0,0.005661,0.044474,0.128650,0.055537,0.062166,0.024015,0.679497,2,0.679497,6.0
,label,_DL_P0_,_DL_P1_,_DL_P2_,_DL_P3_,_DL_P4_,_DL_P5_,_DL_P6_,_DL_PredName_,_DL_PredP_,_DL_PredLevel_
900,0.0,0.007585,0.082844,0.339060,0.050733,0.038009,0.012869,0.468899,2,0.468899,6.0
901,2.0,0.011906,0.034501,0.307630,0.185283,0.078180,0.097620,0.284880,6,0.307630,2.0
902,2.0,0.026646,0.219664,0.054832,0.122688,0.052734,0.032017,0.491419,2,0.491419,6.0
903,2.0,0.031999,0.223226,0.062276,0.039909,0.024255,0.069483,0.548851,2,0.548851,6.0
904,2.0,0.012942,0.752654,0.027739,0.004341,0.002016,0.003719,0.196590,4,0.752654,1.0
...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,0.025361,0.435961,0.194241,0.029667,0.010555,0.011282,0.292933,4,0.435961,1.0
996,3.0,0.023213,0.159871,0.503930,0.028130,0.038605,0.038216,0.208035,6,0.503930,2.0
997,3.0,0.052790,0.776637,0.020779,0.004534,0.001121,0.024115,0.120024,4,0.776637,1.0
998,3.0,0.016965,0.073774,0.288567,0.038401,0.090110,0.060086,0.432096,2,0.432096,6.0
999,3.0,0.033171,0.734357,0.013903,0.005642,0.001307,0.018458,0.193163,4,0.734357,1.0

In [0]:
conn.loadactionset('freqtab')
conn.freqtab.freqtab(table="test_scored",tabulate=[{"vars":{"label"},"cross":{"_DL_PredLevel_"}}])

NOTE: Added action set 'freqtab'.

[LevelInfo]

 Variable Level Information

          Variable                                     Label  Levels  \
 0  _DL_PredLevel_  Predicted level with highest probability       5
 1           label                                                 7

                                               Values
 0             1            2            3        ...
 1                                      0 1 2 3 4 5 6

[NObs]

 Number of Observations

       RowId                  Description   Value
 0     NREAD  Number of Observations Read  1002.0
 1     NUSED  Number of Observations Used  1002.0
 2  NWEIGHTS               Sum of Weights  1002.0

[Table1.CrossList]

 Table of label by _DL_PredLevel_

    F_label  label F__DL_PredLevel_  _DL_PredLevel_  Frequency     Percent  \
 0        0    0.0                1             1.0        2.0    0.199601
 1        0    0.0                2             2.0        4.0    0.399202
 2        0    0.0                4             4.0        1.0    0.099800
 3        0    0.0                6             6.0       25.0    2.495010
 4        0    0.0            Total             NaN       32.0    3.193613
 5        1    1.0                1             1.0       19.0    1.896208
 6        1    1.0                2             2.0        5.0    0.499002
 7        1    1.0                3             3.0        1.0    0.099800
 8        1    1.0                6             6.0       27.0    2.694611
 9        1    1.0            Total             NaN       52.0    5.189621
 10       2    2.0                1             1.0       59.0    5.888224
 11       2    2.0                2             2.0       13.0    1.297405
 12       2    2.0                4             4.0        1.0    0.099800
 13       2    2.0                6             6.0       39.0    3.892216
 14       2    2.0            Total             NaN      112.0   11.177645
 15       3    3.0                1             1.0        7.0    0.698603
 16       3    3.0                2             2.0        1.0    0.099800
 17       3    3.0                6             6.0        2.0    0.199601
 18       3    3.0            Total             NaN       10.0    0.998004
 19       4    4.0                1             1.0      636.0   63.473054
 20       4    4.0                2             2.0       15.0    1.497006
 21       4    4.0                6             6.0       20.0    1.996008
 22       4    4.0            Total             NaN      671.0   66.966068
 23       5    5.0                1             1.0       11.0    1.097804
 24       5    5.0                2             2.0        1.0    0.099800
 25       5    5.0                6             6.0        1.0    0.099800
 26       5    5.0            Total             NaN       13.0    1.297405
 27       6    6.0                1             1.0       63.0    6.287425
 28       6    6.0                2             2.0       31.0    3.093812
 29       6    6.0                6             6.0       18.0    1.796407
 30       6    6.0            Total             NaN      112.0   11.177645
 31   Total    NaN                1             1.0      797.0   79.540918
 32   Total    NaN                2             2.0       70.0    6.986028
 33   Total    NaN                3             3.0        1.0    0.099800
 34   Total    NaN                4             4.0        2.0    0.199601
 35   Total    NaN                6             6.0      132.0   13.173653
 36   Total    NaN            Total             NaN     1002.0  100.000000

     RowPercent  ColPercent
 0     6.250000    0.250941
 1    12.500000    5.714286
 2     3.125000   50.000000
 3    78.125000   18.939394
 4   100.000000         NaN
 5    36.538462    2.383940
 6     9.615385    7.142857
 7     1.923077  100.000000
 8    51.923077   20.454545
 9   100.000000         NaN
 10   52.678571    7.402760
 11   11.607143   18.571429
 12    0.892857   50.000000
 13   34.821429   29.545455
 14  100.000000         NaN
 15   70.000000    0.878294
 16   10.000000    1.428571
 17   20.000000    1.515152
 18  100.000000         NaN
 19   94.783905   79.799247
 20    2.235469   21.428571
 21    2.980626   15.151515
 22  100.000000         NaN
 23   84.615385    1.380176
 24    7.692308    1.428571
 25    7.692308    0.757576
 26  100.000000         NaN
 27   56.250000    7.904642
 28   27.678571   44.285714
 29   16.071429   13.636364
 30  100.000000         NaN
 31         NaN  100.000000
 32         NaN  100.000000
 33         NaN  100.000000
 34         NaN  100.000000
 35         NaN  100.000000
 36         NaN         NaN

[Timing]

 Task Timing

                        Task      Time   RelTime
 0         Setup and Parsing  0.056348  0.256230
 1              Levelization  0.103284  0.469663
 2  Producing Results Tables  0.060276  0.274093
 3                   Cleanup  0.000003  0.000014
 4                     Total  0.219911  1.000000

+ Elapsed: 0.296s, user: 1.56s, sys: 8.15s, mem: 1.82e+03mb